@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.sbar::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.sbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 30px;
}

/* Handle */
.sbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.content {
    @apply h-[70%];
}

@media (max-width: 415px) {
    .content {
        @apply h-[50%];
    }
}
